.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 32px 48px;
    border-radius: 10px;
    box-shadow: 8px  8px 24px 0px rgba(66, 68, 90, 1);
}

.container h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.container > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container div{
    display: flex;
    flex-direction: column;
}

.container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
}

.container input::placeholder {
    font-size: 16px;
}

button{
    background-color: rgb(0, 0, 0);
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}